*,
::after,
::before {
  box-sizing: border-box;
}

.home {
  display: flex;
}

.navbar {
  margin-left: 275px;
}

.navbar-items {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    list-style: none;
}
/* * {
  border: 25px;
  border-color: yellow ;
} */